USE [master]
GO
/****** Object:  Database [QLVLXD]    Script Date: 12/27/2020 1:24:22 AM ******/
CREATE DATABASE [QLVLXD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVLXD', FILENAME = N'/var/opt/mssql/data/QLVLXD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLVLXD_log', FILENAME = N'/var/opt/mssql/data/QLVLXD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVLXD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVLXD]
GO
/****** Object:  Table [dbo].[tblChiTietHoaDonNhap]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHoaDonNhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDHDNhap] [int] NULL,
	[IDHH] [int] NULL,
	[IDNCC] [int] NULL,
	[IDGiamGia] [int] NULL,
	[SoLuongNhap] [int] NULL,
	[DonGiaNhap] [float] NULL,
	[TongGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChiTietHoaDonXuat]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHoaDonXuat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDHoaDonXuat] [int] NULL,
	[IDKho] [int] NULL,
	[IDHH] [int] NULL,
	[IDGiamGia] [int] NULL,
	[SoLuongXuat] [int] NULL,
	[DonGiaXuat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDVT]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDVT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDVT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGiamGia]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGiamGia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PhanTram] [float] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHangHoa]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHangHoa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDMaLoai] [int] NULL,
	[TenHH] [nvarchar](50) NULL,
	[URLHinh] [nvarchar](max) NULL,
	[IDDVT] [int] NULL,
	[XuatXu] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
	[Gia] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoaDonNhap]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoaDonNhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDNV] [int] NULL,
	[IDNguoiDuyet] [int] NULL,
	[NgayLapNhap] [datetime] NULL,
	[TrangThai] [int] NULL,
	[VAT] [float] NULL,
	[TongGia] [float] NULL,
	[TenHD] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoaDonXuat]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoaDonXuat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDKH] [int] NULL,
	[IDNV] [int] NULL,
	[IDNguoiDuyet] [int] NULL,
	[NgayLapXuat] [datetime] NULL,
	[TrangThaiXuat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKhachHang]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKho]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKho](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenKho] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKho_HangHoa]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKho_HangHoa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDKho] [int] NULL,
	[IDHH] [int] NULL,
	[SoLo] [int] NULL,
	[HanSuDung] [datetime] NULL,
	[SoLuongTon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoaiVatLieu]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiVatLieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
	[MoTa] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNCC]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNCC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPhanQuyen] [int] NULL,
	[TenNV] [nvarchar](50) NULL,
	[URLHinh] [nvarchar](max) NULL,
	[GioiTinh] [int] NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[TrangThai] [int] NULL,
	[MoTa] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhanQuyen]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhanQuyen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhieuGiaoNhap]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuGiaoNhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDChiTietHoaDonNhap] [int] NULL,
	[SoLuong] [int] NULL,
	[LanNhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhieuGiaoXuat]    Script Date: 12/27/2020 1:24:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuGiaoXuat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDChiTietHoaDonXuat] [int] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblChiTietHoaDonNhap] ON 

INSERT [dbo].[tblChiTietHoaDonNhap] ([ID], [IDHDNhap], [IDHH], [IDNCC], [IDGiamGia], [SoLuongNhap], [DonGiaNhap], [TongGia]) VALUES (5, 14, 4, 1, 1, 5, 300000, 1500000)
INSERT [dbo].[tblChiTietHoaDonNhap] ([ID], [IDHDNhap], [IDHH], [IDNCC], [IDGiamGia], [SoLuongNhap], [DonGiaNhap], [TongGia]) VALUES (6, 15, 9, 3, 2, 4, 200000, 800000)
INSERT [dbo].[tblChiTietHoaDonNhap] ([ID], [IDHDNhap], [IDHH], [IDNCC], [IDGiamGia], [SoLuongNhap], [DonGiaNhap], [TongGia]) VALUES (7, 16, 9, 5, 1, 5, 200000, 1000000)
SET IDENTITY_INSERT [dbo].[tblChiTietHoaDonNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[tblChiTietHoaDonXuat] ON 

INSERT [dbo].[tblChiTietHoaDonXuat] ([ID], [IDHoaDonXuat], [IDKho], [IDHH], [IDGiamGia], [SoLuongXuat], [DonGiaXuat]) VALUES (2, 1, 1, 4, 1, 3, 3000000)
INSERT [dbo].[tblChiTietHoaDonXuat] ([ID], [IDHoaDonXuat], [IDKho], [IDHH], [IDGiamGia], [SoLuongXuat], [DonGiaXuat]) VALUES (3, 2, 2, 9, 2, 2, 400000)
SET IDENTITY_INSERT [dbo].[tblChiTietHoaDonXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDVT] ON 

INSERT [dbo].[tblDVT] ([ID], [TenDVT]) VALUES (1, N'Viên')
INSERT [dbo].[tblDVT] ([ID], [TenDVT]) VALUES (2, N'Bao')
INSERT [dbo].[tblDVT] ([ID], [TenDVT]) VALUES (3, N'Kg')
SET IDENTITY_INSERT [dbo].[tblDVT] OFF
GO
SET IDENTITY_INSERT [dbo].[tblGiamGia] ON 

INSERT [dbo].[tblGiamGia] ([ID], [PhanTram], [TrangThai]) VALUES (1, 10, 1)
INSERT [dbo].[tblGiamGia] ([ID], [PhanTram], [TrangThai]) VALUES (2, 20, 1)
INSERT [dbo].[tblGiamGia] ([ID], [PhanTram], [TrangThai]) VALUES (4, 10, 0)
SET IDENTITY_INSERT [dbo].[tblGiamGia] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHangHoa] ON 

INSERT [dbo].[tblHangHoa] ([ID], [IDMaLoai], [TenHH], [URLHinh], [IDDVT], [XuatXu], [TrangThai], [Gia]) VALUES (2, 1, N'Cát', N'', 4, N'Việt Nam', 1, 300000.0000)
INSERT [dbo].[tblHangHoa] ([ID], [IDMaLoai], [TenHH], [URLHinh], [IDDVT], [XuatXu], [TrangThai], [Gia]) VALUES (3, 1, N'Gạch', N'', 1, N'Nhật bản', 1, 4000000.0000)
INSERT [dbo].[tblHangHoa] ([ID], [IDMaLoai], [TenHH], [URLHinh], [IDDVT], [XuatXu], [TrangThai], [Gia]) VALUES (4, 1, N'Đá', N'', 4, N'Việt Nam', 1, 3004000.0000)
SET IDENTITY_INSERT [dbo].[tblHangHoa] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHoaDonNhap] ON 

INSERT [dbo].[tblHoaDonNhap] ([ID], [IDNV], [IDNguoiDuyet], [NgayLapNhap], [TrangThai], [VAT], [TongGia], [TenHD]) VALUES (14, 7, 5, CAST(N'2020-12-14T00:00:00.000' AS DateTime), 1, 10, 1500000, NULL)
INSERT [dbo].[tblHoaDonNhap] ([ID], [IDNV], [IDNguoiDuyet], [NgayLapNhap], [TrangThai], [VAT], [TongGia], [TenHD]) VALUES (15, 6, 7, CAST(N'2020-12-25T00:00:00.000' AS DateTime), 1, 10, 800000, NULL)
INSERT [dbo].[tblHoaDonNhap] ([ID], [IDNV], [IDNguoiDuyet], [NgayLapNhap], [TrangThai], [VAT], [TongGia], [TenHD]) VALUES (16, 5, 5, CAST(N'2020-12-30T00:00:00.000' AS DateTime), 1, 10, 1000000, NULL)
SET IDENTITY_INSERT [dbo].[tblHoaDonNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHoaDonXuat] ON 

INSERT [dbo].[tblHoaDonXuat] ([ID], [IDKH], [IDNV], [IDNguoiDuyet], [NgayLapXuat], [TrangThaiXuat]) VALUES (1, 1, 5, 5, CAST(N'2021-01-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[tblHoaDonXuat] ([ID], [IDKH], [IDNV], [IDNguoiDuyet], [NgayLapXuat], [TrangThaiXuat]) VALUES (2, 2, 6, 7, CAST(N'2021-02-15T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblHoaDonXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[tblKhachHang] ON 

INSERT [dbo].[tblKhachHang] ([ID], [TenKhachHang], [DiaChi], [SDT], [TrangThai]) VALUES (1, N'Nguyễn Thị Tuyết', N'123 Nguyễn Đỗ Cung', N'0123456789', 0)
INSERT [dbo].[tblKhachHang] ([ID], [TenKhachHang], [DiaChi], [SDT], [TrangThai]) VALUES (2, N'Lê Dương Bảo Lâm', N'Nam Kỳ Khởi Nghĩa', N'0243567879', 1)
INSERT [dbo].[tblKhachHang] ([ID], [TenKhachHang], [DiaChi], [SDT], [TrangThai]) VALUES (3, N'Trần Thị Thùy Trang', N'Lý Chính Thắng', N'0164585558', 0)
SET IDENTITY_INSERT [dbo].[tblKhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[tblKho] ON 

INSERT [dbo].[tblKho] ([ID], [TenKho], [TrangThai]) VALUES (1, N'Kho A', 1)
INSERT [dbo].[tblKho] ([ID], [TenKho], [TrangThai]) VALUES (2, N'Kho B', 1)
INSERT [dbo].[tblKho] ([ID], [TenKho], [TrangThai]) VALUES (3, N'Kho 3', 0)
SET IDENTITY_INSERT [dbo].[tblKho] OFF
GO
SET IDENTITY_INSERT [dbo].[tblKho_HangHoa] ON 

INSERT [dbo].[tblKho_HangHoa] ([ID], [IDKho], [IDHH], [SoLo], [HanSuDung], [SoLuongTon]) VALUES (1, 1, 9, 1, CAST(N'2025-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[tblKho_HangHoa] ([ID], [IDKho], [IDHH], [SoLo], [HanSuDung], [SoLuongTon]) VALUES (2, 1, 4, 2, CAST(N'2026-01-01T00:00:00.000' AS DateTime), 5)
INSERT [dbo].[tblKho_HangHoa] ([ID], [IDKho], [IDHH], [SoLo], [HanSuDung], [SoLuongTon]) VALUES (4, 1, 4, 1, CAST(N'2020-12-25T00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[tblKho_HangHoa] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLoaiVatLieu] ON 

INSERT [dbo].[tblLoaiVatLieu] ([ID], [TenLoai], [TrangThai], [MoTa]) VALUES (1, N'Vật liệu xây dựng thô', 1, NULL)
INSERT [dbo].[tblLoaiVatLieu] ([ID], [TenLoai], [TrangThai], [MoTa]) VALUES (2, N'Vật liệu xây dựng hoàn thiện', 1, NULL)
INSERT [dbo].[tblLoaiVatLieu] ([ID], [TenLoai], [TrangThai], [MoTa]) VALUES (3, N'Vật liệu tái sử dụng', 0, N'OK Test')
SET IDENTITY_INSERT [dbo].[tblLoaiVatLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[tblNCC] ON 

INSERT [dbo].[tblNCC] ([ID], [TenNCC], [DiaChi], [SDT]) VALUES (1, N'Công Ty TNHH HaLo Group', N'Bến Tre', N'0423458484')
INSERT [dbo].[tblNCC] ([ID], [TenNCC], [DiaChi], [SDT]) VALUES (2, N'Công Ty Cổ Phần Đầu tư Nhà Xanh', N'Long An', N'0456787556')
INSERT [dbo].[tblNCC] ([ID], [TenNCC], [DiaChi], [SDT]) VALUES (3, N'Công Ty TNHH Vật Liệu Và Thiết Bị Vĩnh Phú', N'Bến Nghé', N'0234567436')
SET IDENTITY_INSERT [dbo].[tblNCC] OFF
GO
SET IDENTITY_INSERT [dbo].[tblNhanVien] ON 

INSERT [dbo].[tblNhanVien] ([ID], [IDPhanQuyen], [TenNV], [URLHinh], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TrangThai], [MoTa], [PASSWORD]) VALUES (5, 1, N'ADMIN', NULL, 1, CAST(N'1997-12-04T00:00:00.000' AS DateTime), N'Quận 1, TPHCM', N'0909235674', 1, N'Quyền admin ko dc xem', N'123456789')
INSERT [dbo].[tblNhanVien] ([ID], [IDPhanQuyen], [TenNV], [URLHinh], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TrangThai], [MoTa], [PASSWORD]) VALUES (6, 2, N'Nguyễn Thị Bé Hai', NULL, 0, CAST(N'1996-12-12T00:00:00.000' AS DateTime), N'Nam Kỳ Khởi Nghĩa', N'0134567987', 1, NULL, N'123123123')
INSERT [dbo].[tblNhanVien] ([ID], [IDPhanQuyen], [TenNV], [URLHinh], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [TrangThai], [MoTa], [PASSWORD]) VALUES (7, 3, N'Lê Văn Tám', NULL, 1, CAST(N'1989-04-15T00:00:00.000' AS DateTime), N'Đường 3/2, TPHCM', N'0123456778', 1, NULL, N'789789789')
SET IDENTITY_INSERT [dbo].[tblNhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPhanQuyen] ON 

INSERT [dbo].[tblPhanQuyen] ([ID], [Ten], [MoTa]) VALUES (1, N'Quản Trị Viên', NULL)
INSERT [dbo].[tblPhanQuyen] ([ID], [Ten], [MoTa]) VALUES (2, N'Gíam Đốc', N'')
INSERT [dbo].[tblPhanQuyen] ([ID], [Ten], [MoTa]) VALUES (3, N'Nhân Viên', NULL)
SET IDENTITY_INSERT [dbo].[tblPhanQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPhieuGiaoNhap] ON 

INSERT [dbo].[tblPhieuGiaoNhap] ([ID], [IDChiTietHoaDonNhap], [SoLuong], [LanNhap]) VALUES (1, 5, 4, NULL)
INSERT [dbo].[tblPhieuGiaoNhap] ([ID], [IDChiTietHoaDonNhap], [SoLuong], [LanNhap]) VALUES (2, 6, 4, NULL)
INSERT [dbo].[tblPhieuGiaoNhap] ([ID], [IDChiTietHoaDonNhap], [SoLuong], [LanNhap]) VALUES (3, 7, 5, NULL)
SET IDENTITY_INSERT [dbo].[tblPhieuGiaoNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPhieuGiaoXuat] ON 

INSERT [dbo].[tblPhieuGiaoXuat] ([ID], [IDChiTietHoaDonXuat], [SoLuong]) VALUES (1, 2, 3)
INSERT [dbo].[tblPhieuGiaoXuat] ([ID], [IDChiTietHoaDonXuat], [SoLuong]) VALUES (2, 3, 2)
SET IDENTITY_INSERT [dbo].[tblPhieuGiaoXuat] OFF
GO
ALTER TABLE [dbo].[tblChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([IDGiamGia])
REFERENCES [dbo].[tblGiamGia] ([ID])
GO
ALTER TABLE [dbo].[tblChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([IDHDNhap])
REFERENCES [dbo].[tblHoaDonNhap] ([ID])
GO
ALTER TABLE [dbo].[tblChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([IDNCC])
REFERENCES [dbo].[tblNCC] ([ID])
GO
ALTER TABLE [dbo].[tblChiTietHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([IDHH])
REFERENCES [dbo].[tblHangHoa] ([ID])
GO
ALTER TABLE [dbo].[tblChiTietHoaDonXuat]  WITH CHECK ADD FOREIGN KEY([IDGiamGia])
REFERENCES [dbo].[tblGiamGia] ([ID])
GO
ALTER TABLE [dbo].[tblChiTietHoaDonXuat]  WITH CHECK ADD FOREIGN KEY([IDHoaDonXuat])
REFERENCES [dbo].[tblHoaDonXuat] ([ID])
GO
ALTER TABLE [dbo].[tblChiTietHoaDonXuat]  WITH CHECK ADD FOREIGN KEY([IDKho])
REFERENCES [dbo].[tblKho] ([ID])
GO
ALTER TABLE [dbo].[tblChiTietHoaDonXuat]  WITH CHECK ADD FOREIGN KEY([IDHH])
REFERENCES [dbo].[tblHangHoa] ([ID])
GO
ALTER TABLE [dbo].[tblHangHoa]  WITH CHECK ADD FOREIGN KEY([IDDVT])
REFERENCES [dbo].[tblDVT] ([ID])
GO
ALTER TABLE [dbo].[tblHangHoa]  WITH CHECK ADD FOREIGN KEY([IDMaLoai])
REFERENCES [dbo].[tblLoaiVatLieu] ([ID])
GO
ALTER TABLE [dbo].[tblHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([IDNguoiDuyet])
REFERENCES [dbo].[tblNhanVien] ([ID])
GO
ALTER TABLE [dbo].[tblHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[tblNhanVien] ([ID])
GO
ALTER TABLE [dbo].[tblHoaDonXuat]  WITH CHECK ADD FOREIGN KEY([IDNguoiDuyet])
REFERENCES [dbo].[tblNhanVien] ([ID])
GO
ALTER TABLE [dbo].[tblHoaDonXuat]  WITH CHECK ADD FOREIGN KEY([IDKH])
REFERENCES [dbo].[tblKhachHang] ([ID])
GO
ALTER TABLE [dbo].[tblHoaDonXuat]  WITH CHECK ADD FOREIGN KEY([IDNV])
REFERENCES [dbo].[tblNhanVien] ([ID])
GO
ALTER TABLE [dbo].[tblKho_HangHoa]  WITH CHECK ADD FOREIGN KEY([IDKho])
REFERENCES [dbo].[tblKho] ([ID])
GO
ALTER TABLE [dbo].[tblKho_HangHoa]  WITH CHECK ADD FOREIGN KEY([IDHH])
REFERENCES [dbo].[tblHangHoa] ([ID])
GO
ALTER TABLE [dbo].[tblNhanVien]  WITH CHECK ADD FOREIGN KEY([IDPhanQuyen])
REFERENCES [dbo].[tblPhanQuyen] ([ID])
GO
ALTER TABLE [dbo].[tblPhieuGiaoNhap]  WITH CHECK ADD FOREIGN KEY([IDChiTietHoaDonNhap])
REFERENCES [dbo].[tblChiTietHoaDonNhap] ([ID])
GO
ALTER TABLE [dbo].[tblPhieuGiaoXuat]  WITH CHECK ADD FOREIGN KEY([IDChiTietHoaDonXuat])
REFERENCES [dbo].[tblChiTietHoaDonXuat] ([ID])
GO
USE [master]
GO
